.top-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;

    h3 {
        font-size: 24px;
        margin: 5px 0;
    }
}

.top-bar-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover {
        .top-bar-logo {
            color: green;
            transition: 1s;
        }

        cursor: pointer;
    }

}

.top-bar-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}

.top-bar-add-petition {
    &:hover {
        color:green;
        cursor: pointer;
        transition: 1s;
    }
}

.top-bar-all-petitions {
    &:hover {
        color:green;
        cursor: pointer;
        transition: 1s;
    }
}